/* XS */
h1 {
    color: brown;
}

/* SM >= 576px */
@media (min-width: 576px) {
    h1 {
        color: darkslategray;
    }
}

/* MD >= 768px */
@media (min-width: 768px) {
    h1 {
        color: #99990c;
    }
}

/* LG >= 992px */
@media (min-width: 992px) {
    h1 {
        color: blueviolet;
    }
}

/* XL >= 1200px */
@media (min-width: 1200px) {
    h1 {
        color: darkgreen;
    }
}

/*  */
.btn-primary {
    border-color: brown;
    background-color: brown;
}
