div {
    padding: 10px;
    color: #fafafa;
}

.container {
    background-color: blueviolet;
}

.container-sm {
    background-color: blue;
}

.container-md {
    background-color: olive;
}

.container-lg {
    background-color: teal;
}

.container-xl {
    background-color: tomato;
}

.container-xxl {
    background-color: indigo;
}

.container-fluid {
    background-color: saddlebrown;
}