/* Alinhamento vertical */
#vertical {
    height: 300px;
    border: 1px solid darkred;
}

#vertical .row {
    height: 100%;
    border: 1px dotted darkcyan;
}

#vertical .row .col-3 {
    height: 80px;
    border: 1px dashed darkviolet;
}